body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightblue;
}

.container {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 40px;
    border-radius: 15px;
    width: 400px; 
    height: 300px;
}

.generateJokeBtn {
    width: auto;
    align-self: center; 
    border: none;
    background-color: #89CFF0;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}

button:hover {
    opacity: 0.8;
}